* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #fff;
}

#menu {
	background: #4CD5AA;
	height: 60px;
	padding: 0 5px 0;
	text-align: center;
}
ul {
	list-style: none;
}

ul li {
	display: inline-block;
	width: 94px;
	text-align: center;
}

ul li a {
	color: #fff;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
}

ul li.selected {
	background: #fff;
}

ul li.selected a {
	color: #384047;
}

select {
	width: 96%;
	margin: 11px  0 11px 2%;
	float: left;
  background-color: #fff;
    color: #384047;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

h1 {
	margin: 40px 0 10px;
	text-align: center;
	color: #384047;
}
p {
	text-align: center;
	color: #777;
}
.grid-item {
  display: inline-block;
  border: 10px solid hotpink;
  margin: 10px;
}
#activities {
  -moz-column-count: 4;
   -moz-column-gap: 20px;
   -webkit-column-count: 4;
   -webkit-column-gap: 20px;
   column-count: 4;
   column-gap: 20px;
 }



 @media (min-width: 320px) and (max-width: 568px) {
   #menu ul {
     display: none;
   }
   #activities {
     -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
    }
 }
 @media (min-width: 568px) {
   #menu select, #menu button {
     display: none;
   }
 }
